@import '../../layouts/variables';

.cardTable {
  height: 50%;
  min-height: 300px;
  position: relative;

  .card {
    position: absolute;
    width: 100px;
    height: 140px;
    left: 50%;
    top: 50%;
    background-color: $primary;
    border: 3px solid $secondary;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 3px 3px rgba($black2, 0.4);
    z-index: 2;
    animation: fade-in-over 0.5s ease;
    transform-origin: center;
    &:nth-child(1) {
      transform: translate(-50%, -40%);
    }
    &:nth-child(2) {
      transform: translate(-50%, -43%);
    }
    &:nth-child(3) {
      transform: translate(-50%, -46%);
    }
    &:nth-child(4) {
      transform: translate(-50%, -49%);
    }
    &:nth-child(5) {
      transform: translate(-50%, -52%);
    }
    .y {
      position: absolute;
      left: 50%;
      top: 50%;
      color: white;
      transform: translate(-50%, -50%);
    }
  }

  .messageBody {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 3;
    background-color: rgba($gray2, 0.3);
    backdrop-filter: blur(1px);
    animation: width-up 0.4s ease 0.5s forwards;
    .message {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 0px;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      overflow: hidden;
      color: $primary;
      transform: translate(-50%, -50%);
      background-color: rgba($gray2, 0.3);
      backdrop-filter: blur(1px);
      animation: height-up 0.4s ease 1s forwards;
    }
  }
}

@keyframes fade-in-over {
  from {
    opacity: 0;
    transform: translate(-50%, -40%) scale(10);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
@keyframes width-up {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes height-up {
  from {
    height: 0px;
  }
  to {
    height: 2.5rem;
  }
}
