@import '../variables';

.layout {
  max-width: 850px;
  margin: 0px auto;

  .body {
    overflow: auto;
    overflow-y: scroll;
    height: 100vh;
    background-color: $gray2;
    box-sizing: border-box;
    color: $black;
    padding: 1rem;
    padding-top: 0.5rem;
    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $primary;
      font-family: 'Pacifico', cursive;
      display: flex;
      align-items: center;

      &:before,
      &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: $primary;
      }

      &::before {
        margin-right: 1rem;
      }
      &::after {
        margin-left: 1rem;
      }
    }
  }
  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: $primary;
    display: flex;
    justify-content: center;
    a {
      padding: 0.5rem;
      margin: 0px 5px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      img {
        width: 4rem;
      }
      span {
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        color: $gray;
      }
      &:active {
        background-color: $secondary;
      }
    }
  }
}
