@import '../variables';

.layout {
  max-width: 850px;
  margin: 0px auto;

  .body {
    height: calc(100vh - 2rem);
    background-color: $gray2;
    box-sizing: border-box;
    color: $black;
    overflow: auto;
    padding: 1rem;
  }
  .footer {
    height: 2rem;
    background-color: $primary;
    display: flex;
    justify-content: center;
    a {
      margin: auto 1rem;
    }
  }
}
